body{
background:url("Slider-CL01-Background.png") ;


}

.twosides{
    display: flex ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 100px;
    text-align: left;
}

.leftside{
    width: 50%;
    padding: 50px;
    color: aliceblue;

}

.right-side{
    width: 40%;
    margin-left: 700px;
    margin-top: -400px;
}
.title-side{
    line-height: 1em;
    padding-bottom: 0.5em;
    font-size: 45px;
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.butn {
    font-size: 20px;
    background-color: rgb(195, 60, 212);
    color: aliceblue;
    padding: 9px;
    width: 25em;
    border: none;
    margin-bottom: 20px;
    border-radius: 7px;
    margin-left: 15px;
    cursor: pointer;
}

form{
    border-radius: 5px;
    background-color: white;
    padding: 50px;
}
.footer{
    text-align: center;
    color: rgb(141, 137, 137);
}