body
{
  margin: 0;
  padding: 0;  
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: url("Merged\ bar-57.png") no-repeat;
  background-size: cover;
  top: 0%;
  align-items: center;

  position: relative;
  width: 100%;
  
}
.navbar__logo {
  padding-left: 1.5em;
}
  
.navbar__listes {
  padding-right: 1.5em;
}
.navbar__listes--link {
text-decoration: none;
font-size: 1.5em;
padding-right: 1em;
font-weight: bold;
color: black;

}
.lang{
  border: 1px solid orange;
  padding: 0.5em;
  border-radius: 15px;
}

.text{
background-color: rgb(255, 200, 0);
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 100%;
position: relative;
top: -16px;
}

.grp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  position: relative;
  margin-left: 100px;

}

.qst{
  text-align: right;
  position: relative;
  top: -330px;
  margin-top: 20px;
  margin-left: 800px;
 text-align: justify;
 text-indent: 80px;
}

.ele{
  position:relative;
  top: -330px;
  margin-top: 1px;
  margin-left: 1020px;

}

.text2{
  position: relative;
  text-align: right;
  top: -350px;
  margin-top: 1px;
  margin-left: 800px;
  text-align: center;

}

.button_button1 {
  background-color: #2e638e; 
  border: none;
  color: white;
  padding: 16px 30px 17px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px  28px;
  margin-top: 1px;
  margin-left:990px ;
  cursor: pointer;
  position:relative;
  top:-350px;
  border-radius: 4px;
  width: 200px;

  opacity: 0.6;

}
.button_button1:hover {opacity: 1}
.text3{
  position: relative;
  text-align: right;
  top: -350px;
  margin-top: 1px;
  margin-left: 100px;
  text-align: center;
  color: #2e638e;
}
.img1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: auto;
  margin-top: -350px;
  margin-left: 550px;
  
}
