<!DOCTYPE html>
<html>
<body>

<h1 style="background-color:powderblue;font-size:300%;text-align:center;color: blue;">Grades table </h1>
<p style="background-color:tomato;font-size:160%;">Exams grades classe 2 .</p>

</body>
</html>


